<h1>Edit character</h1>
<%= form_for @person do |f| %>
    <%= f.label :character %>
    <%= f.text_field :character %>

    <%= f.label :age %>
    <%= f.text_field :age %>

    <%= f.label :hair_color %>
    <%= f.text_field :hair_color %>

    <%= f.label :eye_color %>
    <%= f.text_field :eye_color %>

    <%= f.label :gender %>
    <%= f.text_field :gender %>

    <%= f.label :house %>
    <%= f.text_field :house %>

    <%= f.label :city %>
    <%= f.text_field :city %>

    <%= f.label :quotes %>
    <%= f.text_field :quotes %>

    <%= f.label :alive %>
    <%= f.text_field :alive %>

    <%= f.label :pet %>
    <%= f.text_field :pet %>

    <%= f.submit %>


<% end %>