<h3> The Cast </h3>
<p><%= link_to 'New character', new_person_path %></p>

<% @people.each do |person| %>

    <h2><%= person.character %></h2>
    
    <%= link_to 'Edit', edit_person_path(person) %>
    <%= link_to 'DELETE', person, method: :delete %>
    <%= link_to 'More info', person_path(person) %>
    
<% end %>
