<!DOCTYPE html>
<html>
  <head>
    <title>Game of Thrones Wiki</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="shortcut icon" type="image/png" href="lib/assets/a70953080a754032a3cf729716a7e4b4.ico/android-icon-192x192.png"/>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/navbar' %>
    <%= yield %>
  </body>
</html>
